.back-link {
  position: relative;
    display: flex;
    align-content: center;
    padding: 6px 10px;
    margin-top: 32px;
    border: none;
    border-radius: 8px;
    background-color: gray;
    color: #fff;
    font-weight: 600;
    width: 70px;
}

input {
    cursor: pointer;
    width: 272px;
    height: 36px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #808080;
    display: flex;
}

.date-time-container {
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  gap: 8px; 
}

.date-time-btn {
    display: flex;
    color: #fff;
    width: 75px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .04em;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    background-color: #cfcfcf;
}

.date-time-btn:disabled {
  color: black;
  cursor: not-allowed;
}

.timer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  .field {
    text-align: center;
  }
  .value {
    font-size: 2em;
    font-weight: bold;
  }
  .label {
    display: block;
    margin-top: 5px;
    font-size: 1em;
    color: #555;
  }

